/*头部*/
#head{
    width:100%;
    height:235px;
    background:url(../img/header/bg.jpg) no-repeat top center;
    min-width:1160px;
}
.head-container{
    height:180px;
}

.head-t{
    width:100%;
    height:42px;
    margin:0 auto;
    box-shadow:0 0px 3px rgba(0,0,0,.5);
    position: relative;
}
/*头部-背景模糊*/
.head-t .head-sty-blur-1,.head-sty-blur-2{
    position:absolute;
    top:0;
    width:100%;
    height:42px;
}

.head-t .head-sty-blur-1{
    background:url(../img/header/bg.jpg) no-repeat top center;
    filter: blur(5px);
}

.head-t .head-sty-blur-2{
    background: rgba(255,255,255,.4);
}
/*头部-主菜单*/
.head-t  .head-t-main{
    position: relative;/*不加会导致投稿隐藏--不清楚原因*/
    width:1160px;
    height:42px;
    margin:0 auto;
}
/*可省略*/
.head-t  .head-t-main ul.h-t-m-left{
    position: absolute;
    width:470px;
    height:42px;
}/*可省略*/

.head-t .head-t-main ul.h-t-m-left>li{
    height:42px;
    line-height:42px;
    float:left;
    position: relative;
}

.head-t .head-t-main ul.h-t-m-left>li:hover{
    background:rgba(255,255,255,.4);
}
.head-t .head-t-main>ul.h-t-m-left>li>a{
    display: block;
    height:42px;
    color:#000;
    font-size:14px;
    padding:0 14px;
}

.head-t-main ul.h-t-m-left li.l1>a>i{/*不是直接子元素不能用>,这里加上>图标不显示,要加上> 只能是li.l1>a>i*/
    position:relative;
    top:2px;
    display: inline-block;
    width:16px;
    height:16px;
    margin-right:5px;
    background:url(../img/icons.png) -920px -86px;
}

.head-t-main ul.h-t-m-left>li>a>.icon{
    position: absolute;
    top:4px;
	right:-5px;
    display: inline-block;
    width:24px;
    height:11px;
    background:url(../img/icons.png) -850px -410px;
}
/*游戏中心隐藏菜单*/
.head-t-main ul.h-t-m-left .gc-hide{
    position: absolute;
    width:448px;
    height:235px;
    background: #fff;
    border-bottom:1px solid #555;
    border-radius: 1px 1px 3px 3px;
    padding: 8px;
}

.head-t-main  .gc-hide  .gc-h-l{
    width:240px;
    height:235px;
    float: left;
    border:1px solid red;

}
.head-t-main  .gc-hide  .gc-h-r{
    width:200px;
    height:235px;
    float: left;
    border:1px solid red;
    margin-left:3px;
}
.head-t-main  .gc-hide  .gc-h-l-t{
    position: relative;
    width:240px;
    height:120px;
    background: url(../img/header/top/game/1.jpg);
    border-radius: 4px;
}
.head-t-main  .gc-hide  .gc-h-l-t a{
    display: block;
    width:100%;
}
.head-t-main  .gc-hide  .gc-h-l-t a p{
    position: absolute;
    bottom:0px;
    width:230px;
    height:30px;
    color:#fff;
    font-weight:bold;
    text-shadow:1px 1px 1px #005;
    line-height: 30px;
    padding-left: 10px;
    background:-webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
}
/*游戏中心隐藏菜单上部分结束*/
/*游戏中心隐藏菜单下部分*/

.head-t-main  .gc-hide  .gc-h-l-b{
    width:240px;
    height:100px;
    margin-top:8px
    border:1px solid red;
}
.head-t-main  .gc-hide  .gc-h-l-b a{
    display: block;
    float: left;
    width:65px;
    height:93px;
    margin:10px 7px 0;
    text-align: center;
}

.head-t-main  .gc-hide  .gc-h-l-b a img{
    width:67px;
    height: 67px;
}





.head-t-main .h-t-m-right{
    height:42px;
}
.head-t-main .h-t-m-right .h-login{
    float: left;
    display: block;
    width:100px;
    height:42px;
    line-height: 42px;
    position: relative;
}

.head-t-main .h-t-m-right .h-login a{
    float: left;
    display: block;
    height: 42px;
    font-size: 14px;
    padding: 0 10px;
}
.head-t-main .h-t-m-right .h-login a+span{
    position: absolute;
    top:14px;
    left:48px;
    display: inline-block;
    width:1px;
    height:13px;
    overflow: hidden;
    background:#eee;
}

.head-t-main .h-t-m-right .h-post{
    float: right;
    width: 58px;
    height: 48px;
    background: url(../img/header/top/login/post.png);
}
.head-t-main .h-t-m-right .h-post .c-a{
    display: block;
    width: 58px;
    height: 48px;
    line-height: 42px;
    text-align:center;
    color:#fff;
    font-weight: bold;
    font-size: 14px;
}

/*头部-主导航*/
.head-navbar{
    width:1160px;
    height:45px;
    background: red;
    margin:0 auto;
    padding-top:15px;
}
